.header {
  position: relative;
  background-image: url(header.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 2%;
  width: 100%;
  height: 140px;
}

.content {
  position: relative;
  background-color: black;
  background-image: url(content.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 700px;
}

.textArea {
  width: 17%;
  height: 22%;
  font-size: 14px;
  float: left;
  margin-top: 6%;
  margin-left: 15%;
  background-color: #1F1B20;
  border-width: 1px;
  border-radius: 2px;
  border-color: gray;
  padding-left: 2px;
  color: white;
   
}

.findButton {
  width: 9%;
  height: 22%;
  font-size: 17px;
  float: left;
   margin-top: 6%;
   margin-left: 2%;
  background-color: #333331;
  border-radius: 20px;
  padding-left: 7px;
  color: white;
}

.imageLogo {
  width: 11%;
  height: 86%;
  margin-left: 3.5%;
  margin-top: 1%;
  float: left;
}

.form {
    width: 45%;
    margin-left: 15%;
    margin-top: 22%;
    height: 3.5%;
    font-size:13px;
    background-color: #1F1B20;
    color: white;
}

.params {
    width: 25%;
    height: 700px;
    float: left;
}

.filmList {
    width: 75%;
    height: 700px;
    float: right;
}

.filmImage {
    width: 23.5%;
    height: 43%;
    margin-top: 0.5%;
    margin-left: 5%;
}

.pageNumbers {
    position: absolute;
    top: 93.5%;
    left: 55%;
}

.imageDetailFilm {
    width: 26.5%;
    height: 500px;
    margin-top: 2%;
    margin-left: -3.5%;
    float: left;
}

.filmName {
    width: 44%;
    height: 7%;
    color: white;
    float: left;
    margin-left: 2%;
}

.description {
    width: 44%;
    height: 28%;
    float:left;
    color: white;
    margin-left: 2%;
    margin-top: 2%;
    text-align: justify;
}

.premiereDate {
    width: 44%;
    height: 5%;
    float:left;
    color: #FAF0E6;
    margin-left: 2%;
    margin-top: 2%;
}

.director {
    width: 44%;
    height: 4%;
    float:left;
    color: #FAF0E6;
    margin-left: 2%;
    margin-top: 1%;
}

.actors {
    width: 44%;
    height: 11%;
    float:left;
    color: #FAF0E6;
    margin-left: 2%;
    margin-top: 1%;
}

.smallImage {
    width: 16%;
    height: 105%;
    border-radius: 50%;
}