.header {
  position: relative;
  background-image: url(header.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 2%;
  width: 100%;
  height: 140px;
}

.content {
  position: relative;
  background-color: black;
  background-image: url(content.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 700px;
}

.textArea {
  width: 200px;
  height: 30px;
  font-size: 14px;
  float: left;
  margin-top: 6%;
  margin-left: 15%;
  background-color: #1F1B20;
  border-width: 1px;
  border-radius: 2px;
  border-color: gray;
  padding-left: 2px;
  color: white;
  
}

.findButton {
  width: 100px;
  height: 30px;
  font-size: 17px;
  float: left;
   margin-top: 6%;
   margin-left: 2%;
  background-color: #333331;
  border-radius: 20px;
  padding-left: 7px;
  color: white;
}

.imageLogo {
  width: 125px;
  height: 125px;
  margin-left: 40px;
  margin-top: 15px;
  float: left;
}

.form {
    width: 130px;
    margin-left: 15%;
    margin-top: 22%;
    height:25px;
    font-size:13px;
    background-color: #1F1B20;
    color: white;
}

.params {
    width: 25%;
    height: 700px;
    float: left;
}

.filmList {
    width: 75%;
    height: 700px;
    float: right;
}

.filmImage {
    width: 200px;
    height: 300px;
    margin-top: 5px;
    margin-left: 45px;
}

.pageNumbers {
    position: absolute;
    top: 93.5%;
    left: 55%;
}

.imageDetailFilm {
    width: 300px;
    height:500px;
    margin-top: 20px;
    margin-left: -40px;
    float: left;
}

.filmName {
    width: 500px;
    height: 50px;
    color: white;
    float: left;
    margin-left: 20px;
}

.description {
    width: 500px;
    height: 200px;
    float:left;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    text-align: justify;
}

.premiereDate {
    width: 500px;
    height: 30px;
    float:left;
    color: #FAF0E6;
    margin-left: 20px;
    margin-top: 20px;
}

.director {
    width: 500px;
    height: 30px;
    float:left;
    color: #FAF0E6;
    margin-left: 20px;
    margin-top: 20px;
}

.actors {
    width: 500px;
    height: 50px;
    float:left;
    color: #FAF0E6;
    margin-left: 20px;
    margin-top: 10px;
}

.smallImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}