﻿@model WebApplicationTest.Models.DetailsMovie
@{
    ViewBag.Title = "Film";
}

<div class="header">
    <a href="/"><img src="~/Content/logo.png" class="imageLogo" /></a>
</div>

<div class="content">
    <div class="params">
    </div>

    <div>
        <img src="@Url.Content(@Model.Film.ImagePath)" class="imageDetailFilm">
    </div>

    <div class="filmName">
        <h2> @Model.Film.Name</h2>
    </div>

    <div class="description">
        <h4>@Model.Film.Description</h4>
    </div>

    <div class="premiereDate">
        @Html.DisplayNameFor(film => Model.Film.PremiereDate) @Model.Film.PremiereDate
    </div>

    <div class="director">
        @Html.DisplayNameFor(film => Model.Film.Director) @Model.Film.Director
    </div>

    <div class="actors">
        <h2>Актеры</h2>
        @foreach (var item in Model.Actors)
        {
            <img src="@Url.Content(item.ImagePath)" class="smallImage" title="@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)">
        }
    </div>










</div>



