﻿@model WebApplicationTest.Models.MoviesFilter
@using WebApplicationTest.Helpers

@{
    ViewBag.Title = "Главная";
}

<form method="get">
    <div class="header">
        <a href="/"><img src=@Url.Content("~/Content/logo.png") class="imageLogo" /></a>

        @Html.TextBox("name", "", new { @class = "textArea", placeholder = "Поиск"} )
        <input type="submit" value="Найти!" class="findButton">

    </div>

    <div class="content">
        <div class="params">
            @Html.DropDownList("genre", Model.Genres as SelectList, htmlAttributes: new { @class = "form" })

            <br/>

            @Html.TextBox("actor", "", new {@class = "form", placeholder = "Имя актера" })
        </div>

        <div class="filmList">

            <center><h1 style="color: white;">@ViewBag.Error</h1></center>
            <center><h1 style="color: white;">@ViewBag.Message</h1></center>

            @foreach (var item in Model.indexViewModel.Films)
            {
                <a href="/Movies/Details?id=@item.FilmId"> <img src='@Url.Content(item.ImagePath)' class="filmImage" title="@item.Name"> </a>
            }

            <div class="btn-group pageNumbers">
                @if(Model.indexViewModel.PageInfo.TotalPages > 1)
                {
                    @Html.PageLinks(Model.indexViewModel.PageInfo, x => Url.Action("Index", new { page = x, name = Model.Name, genre = Model.selectedGenre, actor = Model.Actor }));
                }
              
            </div>
        </div>
    </div>
</form>